body{
    background-image:url(img/computer.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
}